
target/
dbt_packages/
dbt_internal_packages/
dbt_modules/
logs/
**/.DS_Store
.user.yml
venv/
env/
.venv/
*.duckdb
*.duckdb.wal
*.ducklake
*.ducklake.files/
local_files/local_filesystem_catalog_demo.csv
local_files/*.parquet
